@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>Aluno: </strong>@ViewData["Aluno"]</p>
<address>
    <strong>More information: </strong> <a href="http:\\www.gmail.com">diogo.freitas.n@gmail.com</a>
</address>
